@page
@model IdentityServiceClient.Pages.Invitations.SuccessModel
@{
    Layout = "_Public";
    ViewData["Title"] = "Success";
}
<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
    <h6 class="display-4 text-success"><i style="font-size:38px; margin-bottom:6px;" class="fas fa-check text-success"></i> Thank you!</h6>
    <div><b>You can now login to your account.</b></div>
    <div>An email with instructions has also been sent to the address on file.</div>
    <div style="margin-top:20px;">
        <a class="btn btn-lg btn-success" href="~/login">Sign in</a>
    </div>


</div>

