@page
@model IdentityServiceClient.Pages.Invitations.SuccessModel
@{
    Layout = "_Public";
    ViewData["Title"] = "Success";
}

<h4 class="display-4">Thank You!</h4>
<div class="alert alert-success">Please check your email for login instructions.</div>
