@page
@model IdentityServiceClient.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h1 class="display-4">Dashboard</h1>
    <p>Hello <b>@User.FindFirst("fullName").Value!</b></p>
</div>
