@page
@model IdentityServiceClient.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>This is the Identity Service client application</p>
</div>
