@page
@model IdentityServiceClient.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="col-xl-6 col-lg-6 col-md-6">
    <h1 class="display-4">Dashboard</h1>
    <p>Hello <b>@User.FindFirst("fullName").Value!</b></p>
</div>
