@page
@model IdentityServiceClient.Pages.Password.SuccessModel
@{
    Layout = "_Public";
    ViewData["Title"] = "Success";
}

<div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3">
    <h6 class="display-4 text-success"><i style="font-size:38px; margin-bottom:6px;" class="fas fa-check text-success"></i> Password reset</h6>
    <div>Your password has been reset. Please login to your account.</div>
    <div style="margin-top:20px;">
        <a class="btn btn-lg btn-success" href="~/login"><i class="fas fa-sign-in-alt"></i> Sign in</a>
    </div>
</div>