@page
@model IdentityServiceClient.Pages.Profile.Edit.EmailModel
@{
    ViewData["Title"] = "Update Email";
}

<div class="col-xl-6 col-lg-6 col-md-6">

    <h1 class="display-4">Profile</h1>

    @if (!String.IsNullOrEmpty(ViewData["Message"].ToString()))
    {
        <p class="text-danger" style="margin-top:10px; margin-bottom:5px;"><i style="color:orange; margin-right:2px;" class="fas fa-exclamation-triangle"></i> <strong>@ViewData["Message"]</strong></p>
    }

    <form method="post">


        <label style="font-weight:bold" class="control-label">Update Email:</label>
        @if (!ModelState.IsValid && ModelState["NewEmail"] != null)
        {
            <input class="form-control border-danger" style="background-color:#ffed81" asp-for="Email" placeholder="Email" />

            @foreach (var error in ModelState["NewEmail"].Errors)
            {
                <span class="text-danger"><b>@error.ErrorMessage</b></span>
            }
            <br />
        }
        else
        {
            <input class="form-control" asp-for="Email" placeholder="Email" />
        }


        <br />
        <a class="btn btn-sm btn-outline-dark" href="~/profile">Cancel</a> <button class="btn btn-sm btn-dark">Update</button>

    </form>

</div>