@page
@model IdentityServiceClient.Pages.Profile.Edit.PasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="col-xl-6 col-lg-6 col-md-6">

    <h1 class="display-4">Profile</h1>

    @if (!String.IsNullOrEmpty(ViewData["Message"].ToString()))
    {
        <p class="text-danger" style="margin-top:10px; margin-bottom:5px;"><i style="color:orange; margin-right:2px;" class="fas fa-exclamation-triangle"></i> <strong>@ViewData["Message"]</strong></p>
    }

        <form method="post">

            <!-- Old Password -->
            <div class="form-group">
                <label style="font-weight:bold" class="control-label">Current Password:</label>
                @if (!ModelState.IsValid && ModelState["OldPassword"] != null)
                {
                    <input type="password" class="form-control border-danger" style="background-color:#ffed81" asp-for="Password" placeholder="Password" />

                    @foreach (var error in ModelState["OldPassword"].Errors)
                    {
                        <span class="text-danger"><b>@error.ErrorMessage</b></span>
                    }
                    <br />
                }
                else
                {
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                }
            </div>


            <hr />

            <!-- New Password -->
            <div class="form-group">
                <label style="font-weight:bold" class="control-label">New Password:</label>
                @if (!ModelState.IsValid && ModelState["NewPassword"] != null)
                {
                    <input type="password" class="form-control border-danger" style="background-color:#ffed81" asp-for="NewPassword" placeholder="New Password" />

                    @foreach (var error in ModelState["NewPassword"].Errors)
                    {
                        <span class="text-danger"><b>@error.ErrorMessage</b></span>
                    }
                    <br />
                }
                else
                {
                    <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" />
                }
            </div>

            <!-- Confirm New Password -->
            <div class="form-group">
                <label style="font-weight:bold" class="control-label">Confirm New Password:</label>
                @if (!ModelState.IsValid && ModelState["ConfirmNewPassword"] != null)
                {
                    <input type="password" class="form-control border-danger" style="background-color:#ffed81" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" />

                    @foreach (var error in ModelState["ConfirmNewPassword"].Errors)
                    {
                        <span class="text-danger"><b>@error.ErrorMessage</b></span>
                    }
                    <br />
                }
                else
                {
                    <input type="password" class="form-control" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" />
                }

            </div>

            <div class="form-group">
                <a class="btn btn-sm btn-outline-dark" href="~/profile">Cancel</a> <button class="btn btn-sm btn-dark">Update</button>
            </div>

        </form>

</div>
