@page
@model IdentityServiceClient.Pages.Profile.Edit.UsernameModel
@{
    ViewData["Title"] = "Change Username";
}

<h5>Update Username</h5>

@if (!String.IsNullOrEmpty(ViewData["Message"].ToString()))
{
    <p class="text-danger" style="margin-top:10px; margin-bottom:5px;"><i style="color:orange; margin-right:2px;" class="fas fa-exclamation-triangle"></i> <strong>@ViewData["Message"]</strong></p>
}

<form method="post">
    <div>
        <input class="form-control col-xl-4 col-lg-6 col-md-6" asp-for="UserName" />
        <br />
        <a class="btn btn-sm btn-outline-dark" href="~/profile">Cancel</a> <button class="btn btn-sm btn-dark">Update</button>
    </div>
</form>

