.footer {
    margin-left: 130px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 20px;
}

#wrapper {
    padding-left: 130px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -130px;
    left: 130px;
    width: 130px;
    background: #282828;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 130px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 35px;
    line-height: 23px;
    text-indent: 0px;
    font-size: 12px;
}

 .sidebar-nav li a {
     color: #555555;
     display: block;
     text-decoration: none;
     text-align: center;
 }

.sidebar-nav li a:hover {

    color: white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color: white;
}

.sidebar-nav li a.active {
    color: white;
    background-image: url('/images/menu/side-bar-active-triangle.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.sidebar-nav > .sidebar-branding {
}

.sidebar-nav > .sidebar-branding a {
    color: none;
}

.sidebar-nav > .sidebar-branding a:hover {
    color: none;
    background: none;
}
/*
.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}



.inset {
    padding: 20px;
}*/


/* Mobile Side Menu ------------------------------------------*/

#menu-toggle {
    display: none;
}

@media (max-width:576px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 130px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 130px;
        width: 130px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    /*
    .inset {
        padding: 15px;
    }*/
}
