.footer {
    margin-top:40px;
    margin-left:10px;
    margin-right:10px;
    height: 60px;
    padding-left: 20px;
    line-height: 58px; /* Vertically center footer text */
}

.icon-btn {
    color: darkgray !important;
    margin-left: 3px !important;
}
.icon-btn:hover {
    color: black !important;
}